.points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.55em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.subtitle {
    font-size: 14px;

}


.level {
    font-size: 0.50em;
    top: 85%;
}