.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-title{
    font-size:20px;
    font-weight: unset;
}

.input-general{
    width: 100px;
}

label {
    margin-right: 10px;
    display: inline-block;
    text-align: right;
}